* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fae8eb;
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  font-size: 1rem;
}

h1 {
  color: #f6caca;
  text-align: center;
}
h3 {
  color: #0a014f;
  text-align: center;
}

.dog_img {
  /* height: 170px;
  width: 240px; */
  padding:.25em;
  width:auto
}

.img_filter {
  margin-bottom: 30px;
  margin-top: 10px;
  height: 100px;
  width: 180px;
  /* margin-left: 70px; */
}

.header {
  background-color: #0a014f;
}

ul {
  list-style-type: none;
}

.nav__list-items {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 10.5rem;
}

.navbar {
  color: #0a014f;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  
}
.navbar li {
  padding: 7px;
}

.hero {
  background-color: #f6caca;
  width: 80%;
  max-width: 400px;
  height: 20rem;
  margin: auto;
  margin-bottom: 1.75em;
  border-radius: 1rem;
}

.hero__image-caption {
  background-color: #f6caca;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 1rem;
}
.filter{
  /* margin:auto; */
  display:flex;
  justify-content: space-around;
}
.photo_buttons{
  justify-content: space-around;
  display: flex;
  flex-wrap:no-wrap;
  text-align: center;
  margin:auto;


}
.button {
  background-color: #a261a7;
  color: #f6caca;
  height: 40px;
  width: 111px;
  border-radius: 4px;
  text-align: center;
}

.button__clear {
  /* margin-top: 20px; */
  
}


/* Screen Sizes 768px and Up */
@media(min-width: 768px) {
  #landing {
      display: flex;
      height: 100%;
    
  }
  #landing-text {
    height:100vh;
  }
}
/* Screen Sizes 992px and Up */
@media(min-width: 992px) {{
  #landing {
      display: flex;
      height: 100%;
  }
  #landing-text {
    height:100vh;
  }
}
